<ion-content [fullscreen]="true" color="light">
  <ion-grid class="main-header">
    <div class="pic-name">
      <ion-avatar class="avatar">
        <ion-img src="../../assets/2.png"></ion-img>
        <!-- <ion-icon name="camera" class="camera-icon"></ion-icon> -->
      </ion-avatar>
      <h1 class="name">{{ name }}</h1>
    </div>
  </ion-grid>

  <div *ngIf="!lock">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4" class="col">
        <ion-button
          class="follow-btn"
          color="secondary"
          expand="full"
          (click)="toggleFollow()"
          *ngIf="following"
          fill="outline"
          shape="round"
        >
          Following
        </ion-button>
        <ion-button
          class="follow-btn"
          color="secondary"
          expand="full"
          (click)="toggleFollow()"
          *ngIf="!following"
          shape="round"
        >
          Follow
        </ion-button>

        <ion-button
          class="message-btn"
          color="secondary"
          expand="full"
          (click)="gotoChat()"
          shape="round"
          >Message</ion-button
        >

        <ion-item class="bio" lines="none" color="primary">
          <div class="bio-header">
            <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
            <strong>Bio :: </strong>
          </div>
          <em>
            {{bio}}
          </em>
        </ion-item>
        <!-- <ion-item lines="none" color="primary" class="bio">
        <ion-text>
          <em>
            
          </em>
        </ion-text>
      </ion-item> -->
      </ion-col>
      <ion-col size="4" class="container">
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none" class="container info ion-text-center">
              <ion-icon name="water" color="primary"></ion-icon>
              <ion-label>
                <h1>{{ noOfPost }}</h1>
                <h2>Posts</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none" class="container info ion-text-center">
              <ion-icon name="water" color="primary"></ion-icon>
              <ion-label>
                <h1>43</h1>
                <h2>Reads</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <div class="social-media">
              <span>Follow me in:</span>
              <a href="" class="media-link"
                ><ion-icon name="logo-facebook" size="large"></ion-icon
              ></a>
              <a href="" class="media-link"
                ><ion-icon name="logo-linkedin" size="large"></ion-icon
              ></a>
              <a href="" class="media-link"
                ><ion-icon name="logo-instagram" size="large"></ion-icon
              ></a>
              <a href="" class="media-link"
                ><ion-icon name="logo-twitter" size="large"></ion-icon
              ></a>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="" size="4">
        <ion-content>
          <ion-list [inset]="true">
            <ion-item>
              <!-- <ion-label><strong>Following</strong></ion-label> -->
              <ion-segment value="default" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="default">
                  <ion-label>Following (11)</ion-label>
                </ion-segment-button>
                <ion-segment-button value="segment">
                  <ion-label>Followers (22)</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item *ngFor="let person of list; let index">
              <ion-avatar slot="start">
                <img
                  [src]="'https://picsum.photos/80/80?random=' + index"
                  alt="avatar"
                />
              </ion-avatar>
              <ion-label>{{ person }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-col>
    </ion-row>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Posts</ion-label>
      </ion-item-divider>

      <ion-item>
        <!-- <ion-label>B1</ion-label> -->
        <ion-grid>
          <ion-row>
            <ion-col
              size="12"
              sizeMd="6"
              *ngFor="let post of posts"
              class="home-cards"
              (click)="openBlog(post.id)"
            >
              <app-blog-card-home [post]="post"></app-blog-card-home>
              <h1></h1>
            </ion-col>
            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </div>
  <div id="lock-container" *ngIf="lock">
    <div id="lock-msg">
      <ion-card-title color="light">User has locked his profile!</ion-card-title>
    </div>
  </div>
</ion-content>
