.content{
  // background: #3999aa62;
}
.main-header {
  height: 30vh;
  width: 100%;
  background: url("../../assets/banner.jpg") 0 100%;
}
.main-header div {
  margin-top: 15vh;
  margin-left: 8vw;
  width: 40vw;
  // border: red solid 1px;
  ion-avatar {
    width: 20vh;
    height: 20vh;
    background: var(--ion-color-white);
    margin-bottom: 5px;
    border: 7px solid var(--ion-color-primary);
  }
}
.container {
  // border: solid red 1px;
}

.follow-btn {
  // margin-top: 6vh;
}
.message-btn {
  margin-top: 20px;
}
.bio {
  margin-top: 20px;
  // border: red solid 1px;
}
.col{
  margin-top: 6vh;
}
.info {
  // border: solid red 1px;
  margin-top: 18px;
}
.pic-name {
  display: flex;
}
.name {
  margin-top: 5vh;
  margin-left: -5px;
  // border: solid blue 5px;
  border-radius: 20px;
  padding: 15px;
  font-size: 33px;
  font-weight: 600;
}
.social-media {
  margin-top: 6vh;
  grid-area: 2/1/3/3;
  background-color: #262626;
  color: rgba(255, 255, 255, 70%);
  padding: 15px;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.media-link {
  text-decoration: none;
  color: #818cf8;
  font-size: 24px;
}
