<ion-content [fullscreen]="true">
  <div class="container">
    <h2 class="heading">👋 Forgot Password<br /><br /></h2>
    <br />
    <br />
    <p class="para" *ngIf="!emailVerification">Enter email to continue!</p>
    <p class="para" *ngIf="emailVerification">Enter OTP and New password!</p>
    <form (ngSubmit)="summitEmail()" #signupForm="ngForm">
      <ion-item lines="none" class="ion-item" *ngIf="!emailVerification">
        <fieldset class="input-item">
          <legend>Email Id</legend>
          <ion-input
            id="username"
            type="email"
            name="email"
            [(ngModel)]="email"
            required
            placeholder="name@domain.com"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item" *ngIf="emailVerification">
        <fieldset class="input-item">
          <legend>OTP</legend>
          <ion-input
            id="otp"
            type="string"
            name="otp"
            [(ngModel)]="otp"
            required
            placeholder="OTP"
          ></ion-input>
          
        </fieldset>
      </ion-item>
      <p class="signup-text" *ngIf="emailVerification">
        <a (click)="resendOTP()" >Resend</a>
        OTP
      </p>
      <ion-item lines="none" class="ion-item" *ngIf="emailVerification">
        <fieldset class="input-item">
          <legend>New Password</legend>
          <ion-input
            id="password"
            type="password"
            name="password"
            [(ngModel)]="password.password"
            required
            placeholder="Enter new password"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item" *ngIf="emailVerification">
        <fieldset class="input-item">
          <legend>Confirm New Password</legend>
          <ion-input
            id="confirmPassword"
            type="password"
            name="confirmPassword"
            [(ngModel)]="password.confirmPassword"
            required
            placeholder="Confirm password"
          ></ion-input>
        </fieldset>
      </ion-item>
    </form>
    <ion-button
      class="login-button"
      (click)="summitEmail()"
      expand="block"
      *ngIf="!emailVerification"
      >Summit <ion-spinner name="lines" *ngIf="summiting"></ion-spinner
    ></ion-button>
    <ion-button
      class="login-button"
      expand="block"
      (click)="summitOTPWithNewPasswords()"
      *ngIf="emailVerification"
    >
      <span>Change Password</span>
    </ion-button>
  </div>
  <br />
</ion-content>
