<ion-content>
  <div class="container">
    <h2 class="heading">Create Account 🚀</h2>
    <p class="para">Sign up to get started!</p>
    <form>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Full Name</legend>
          <ion-input
            type="text"
            name="fullName"
            [(ngModel)]="formData.fullname"
            required
            placeholder="John Doe"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Email Id</legend>
          <ion-input
            type="email"
            name="email"
            [(ngModel)]="formData.email"
            required
            placeholder="john@doe.com"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Date of Birth</legend>
          <ion-input
            type="date"
            placeholder="00/00/0000"
            name="dateOfBirth"
            [(ngModel)]="formData.dob"
            required
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <!--Gender input-->
        <fieldset class="input-item">
          <!-- <legend>Gender</legend> -->
          <ion-select justify="space-between" label="Gender" [(ngModel)]="formData.gender" name="gender" required interface="popover">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend>
          <ion-input
            type="password"
            name="password"
            [(ngModel)]="formData.password"
            required
            placeholder="**********"
          ></ion-input>
        </fieldset>
      </ion-item>
      <br>
      <p class="signin-text">
        I'm already a member&nbsp;<a (click)="change()">Sign In?</a>
      </p>
      <ion-button class="signup-button" (click)="signup()" expand="block"
        >Sign Up</ion-button
      >
    </form>
  </div>
</ion-content>
