<ion-content>
  <div class="container">
    <h2 class="heading">Create Account 🚀</h2>
    <p class="para">Sign up to get started!</p>
    <form>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>First Name</legend>
          <ion-input
            type="text"
            name="firstName"
            [(ngModel)]="formData.firstName"
            required
            placeholder="John"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Last Name</legend>
          <ion-input
            type="text"
            name="lastName"
            [(ngModel)]="formData.lastName"
            required
            placeholder="Doe"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Email Id</legend>
          <ion-input
            type="email"
            name="email"
            [(ngModel)]="formData.email"
            required
            placeholder="john@doe.com"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Date of Birth</legend>
          <ion-input
            type="date"
            placeholder="00/00/0000"
            name="dateOfBirth"
            [(ngModel)]="formData.dob"
            required
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <!--Gender input-->
        <fieldset class="input-item">
          <!-- <legend>Gender</legend> -->
          <ion-select
            justify="space-between"
            label="Gender"
            [(ngModel)]="formData.gender"
            name="gender"
            required
            interface="popover"
          >
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend>
          <ion-input
            type="password"
            name="password"
            [(ngModel)]="formData.password"
            required
            placeholder="**********"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Confirm Password</legend>
          <ion-input
            type="password"
            name="confirmPassword"
            [(ngModel)]="formData.passwordConfirm"
            required
            placeholder="**********"
          ></ion-input>
        </fieldset>
      </ion-item>
      <br />
      <p class="signin-text">
        I'm already a member&nbsp;<a (click)="change()">Sign In?</a>
      </p>
      <ion-button
        class="signup-button"
        (click)="signup()"
        expand="block"
        *ngIf="!emailVerification"
        >Sign Up <ion-spinner name="lines" *ngIf="signingIn"></ion-spinner
      ></ion-button>
    </form>
    <form class="email-verification-form" *ngIf="emailVerification">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Enter OTP sent to your email</legend>
          <ion-input
            type="text"
            name="OTP"
            [(ngModel)]="otp"
            required
            placeholder="OTP"
          ></ion-input>
        </fieldset>
      </ion-item>
      <p class="signin-text">
        <a (click)="resendOTP()">Resend</a>
        OTP
      </p>
    </form>
    <div class="google-container">
      <ion-button (click)="summitOTP()" *ngIf="emailVerification">
        <span>Summit OTP <ion-spinner name="lines" *ngIf="OTPVerification"></ion-spinner
          ></span>
      </ion-button>
      <ion-button (click)="loginWithGoogle()" *ngIf="!emailVerification">
        <span>SignUp with Google</span>
        <ion-icon slot="start" name="logo-google"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
