#editor{
    // width: 100%;
    height : 82.5%;
    // overflow : hidden;
    // display: inline;
  }
  #title-container{
    display: grid;
    grid-template-columns: 5fr 5fr auto;
  }
  #editor-buttons{
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 768px) {
    #title-container{
      display:block;
    }
  }