extends baseEmail 
block content
    p Hi #{firstName},
    p Want to change your Email? Enter verifcation code #{url} to update Email.
    P This verification code is valid for only 10 minutes.
    p If you don't want to change or you have not requested for change, please ignore this email.