extends baseEmail 
block content
    p Hi #{firstName},
    p The verification code for signing up To Travel Blog is #{url}
    p Please Enter this verification code to complete your Signup. This code is valid for 10 minutes.
    p From Nabajyoti Medhi, CEO of Travel Blog.