extends baseEmail 
block content
    p Hi #{firstName},
    p Forgot your password? Enter verifcation code #{url} to reset password.
    P This verification code is valid for only 10 minutes.
    p If you didn't forget your password, please ignore this email.