<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Add your logo on the left -->
    <ion-buttons slot="start">
      <ion-img
        src="../../assets/icon/travel_blog_icon.png"
        alt="Logo"
        id="logo"
      ></ion-img>
    </ion-buttons>

    <!-- Add your brand name as a title -->
    <ion-title>{{ "Travel Blogging" }}</ion-title>

    <!-- Add welcome message and logout button on the right -->
    <ion-buttons slot="end" *ngIf="this.loginService.loggedIn">
      <!-- <app-searchbar *ngIf={{this.router.url === '/'}}></app-searchbar> -->
      <ion-label
        ><h3 id="welcome-msg">
          Welcome <strong> {{ this.loginService.credentials.fullname }}</strong>
        </h3></ion-label
      >
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <div  *ngIf="this.loginService.loggedIn">
        <h3 class="welcome-msg">
          Welcome <strong> {{ this.loginService.credentials.fullname }}</strong>
        </h3>
      </div> -->

  <!-- <div class="header-content">
      <img src="../../assets/icon/travel_blog_icon.png" class="custom-logo" />
      <mat-toolbar>
        <span id="travel-logo">
          <span id="label-logo">Travel Blogging</span>
        </span>
      </mat-toolbar>
      <div  *ngIf="this.loginService.loggedIn">
        <h3 class="welcome-msg">
          Welcome <strong> {{ this.loginService.credentials.fullname }}</strong>
        </h3>
      </div>
       
      <div *ngIf="this.loginService.loggedIn">
        <ion-button (click)="logout()">LogOut</ion-button>
      </div>
    </div> -->
</ion-header>
