.custom-logo {
    width: 4%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add other custom styles as needed */
  }
  .header-content {
    display: flex; /* Use flexbox to arrange the child elements */
    justify-content: space-evenly; /* Distribute space evenly between child elements */
    align-items: center; /* Vertically center child elements */
  }
  .floating-header {
    background-color: #fff; /* Set the background color */
    // border-radius: 10px; /* Add rounded corners if desired */
    padding: 0; /* Add padding as needed */
    width : 50%;
    //justify-items: center;
    //border: 2px solid black;
    height : 50px;
  }