<ion-header [translucent]="true">
  <ion-toolbar color="success"> 
    Editor
    <ion-buttons slot="end">
      <ion-button (click) = "clearEditor()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click) = "preview()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="post()">
        <ion-icon slot="icon-only" name="navigate-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="routeToHome()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="editor">
  </div>
  <!--h4 style="font-family: Arial, Helvetica, sans-serif;">Hello</h4-->

</ion-content>