<ion-backdrop [visible]="true" *ngIf="uploadingProfilePicture"></ion-backdrop>

<ion-content [fullscreen]="true" color="light">
  <ion-grid class="main-header">
    <div class="pic-name">
      <ion-avatar class="avatar">
        <ion-img src="{{myProfileDetails[0].profilePicture}}"></ion-img>
      </ion-avatar>
      <ion-icon
        name="create"
        size="large"
        class="edit-profile-button"
        (click)="uploadPofilePicture()"
      ></ion-icon>
      <h1 class="name">{{ this.myProfileDetails[0].fullName }}</h1>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="4" class="col">
      <ion-button
        class="message-btn"
        color="secondary"
        expand="full"
        (click)="gotoEditProfile()"
        >Edit Profile</ion-button
      >

      <ion-item class="message-btn">
        <ion-label>Lock Profile</ion-label>
        <ion-toggle
          slot="end"
          [checked]="this.myProfileDetails[0].lockProfile"
          color="dark"
          (ionChange)="toggleProfile()"
        ></ion-toggle>
      </ion-item>

      <ion-item class="bio" lines="none" color="primary">
        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
        <strong>Bio ::</strong>
      </ion-item>
      <ion-item lines="none" color="primary">
        <ion-text>
          <em>
            {{this.myProfileDetails[0].bio}}
          </em>
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="4" class="container">
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none" class="container info ion-text-center">
            <ion-icon name="water" color="primary"></ion-icon>
            <ion-label>
              <h1>{{this.myProfileDetails[0].noOfPosts}}</h1>
              <h2>Posts</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none" class="container info ion-text-center">
            <ion-icon name="water" color="primary"></ion-icon>
            <ion-label>
              <h1>{{this.myProfileDetails[0].totalPostRead}}</h1>
              <h2>Reads</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <div class="social-media">
            <span>Follow me in:</span>
            <a href="{{this.myProfileDetails[0].links.facebook}}" class="media-link"
              ><ion-icon name="logo-facebook" size="large"></ion-icon
            ></a>
            <a href="{{this.myProfileDetails[0].links.linkedin}}" class="media-link"
              ><ion-icon name="logo-linkedin" size="large"></ion-icon
            ></a>
            <a href="{{this.myProfileDetails[0].links.instagram}}" class="media-link"
              ><ion-icon name="logo-instagram" size="large"></ion-icon
            ></a>
            <a href="{{this.myProfileDetails[0].links.twitter}}" class="media-link"
              ><ion-icon name="logo-twitter" size="large"></ion-icon
            ></a>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="" size="4">
      <ion-content>
        <ion-list [inset]="true">
          <ion-item>
            <!-- <ion-label><strong>Following</strong></ion-label> -->
            <ion-segment value="default" (ionChange)="segmentChanged($event)">
              <ion-segment-button value="default">
                <ion-label>Following ({{ myProfileDetails[0].followingList.length }})</ion-label>
              </ion-segment-button>
              <ion-segment-button value="segment">
                <ion-label>Followers ({{ myProfileDetails[0].followerList.length }})</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>

          <div *ngIf="segmentValue === 'default'">
            <ion-item *ngFor="let person of myProfileDetails[0].followingList; let index">
              <ion-avatar slot="start">
                <ion-img
                [src]="person.profilePhoto===null?defaultProfileImage:person.profilePhoto"
                alt="avatar"
                />
              </ion-avatar>
              <ion-label>{{
                person.firstName + " " + person.lastName
              }}</ion-label>
            <ion-button (click)="unfollowOrRemove($event)" id={{person.id}}>Unfollow</ion-button>
          </ion-item>
        </div>
        <div *ngIf="segmentValue !== 'default'">
          <ion-item *ngFor="let person of myProfileDetails[0].followerList; let index">
            <ion-avatar slot="start">
              <img
              [src]="person.profilePhoto===null?defaultProfileImage:person.profilePhoto"
              alt="avatar"
              />
            </ion-avatar>
            <ion-label>{{
              person.firstName + " " + person.lastName
            }}</ion-label>
          <ion-button (click)="unfollowOrRemove($event)" id={{person.id}}>Remove</ion-button>
        </ion-item>
      </div>
        </ion-list>
      </ion-content>
    </ion-col>
  </ion-row>

  <!-- <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeMd="6"
        *ngFor="let post of posts"
        class="home-cards"
        (click)="openBlog(post.id)"
      >
        <app-blog-card-home [post]="post"></app-blog-card-home>
        <h1></h1>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid> -->
</ion-content>
<div id="box" *ngIf="uploadingProfilePicture">
  <!-- <input type="image"> -->

  <form>
    <input
      type="file"
      id="myFile"
      name="filename"
      (change)="onFileSelected($event)"
    />
    <ion-button (click)="submit()" color="dark">Submit</ion-button>
  </form>
  <ion-button class="ion-margin-start" color="light" (click)="cancel()"
    >Cancel</ion-button
  >
</div>
