<ion-card>
  <ion-card-header>
    <div>
      <ion-card-title [innerHTML]="post.title"></ion-card-title>
      <ion-card-subtitle
        [innerHTML]="post.subtitle"
      ></ion-card-subtitle>
      <div id="blog-info">
        <span id="blog-author">{{
          post.firstName + " " + post.lastName
        }}</span>
        <span id="blog-date">{{ post.time }}</span>
      </div>
    </div>
    <img
      id="blog-img"
      *ngIf="post.imageURL"
      [src]="post.imageURL"
      alt="Blog Post Image"
    />
  </ion-card-header>
  <ion-buttons>
    <ion-button
      id="{{ post.id }}"
      color="danger"
      fill="clear"
      (click)="deleteBlog($event)"
      >Delete</ion-button
    >
    <ion-button
      id="{{ post.id }}"
      color="success"
      fill="clear"
      (click)="editBlog($event)"
      >Edit</ion-button
    >
  </ion-buttons>
</ion-card>