<!--ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img src="../../assets/icon/travel_blog_icon.png" class="custom-logo" />
      <mat-toolbar class="floating-header">
        <div id="travel-logo">
          <span id="label-logo">Travel Blogging</span>
        </div>
      </mat-toolbar>
      <app-searchbar></app-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
-->
<ion-header>
  <app-toolbar></app-toolbar>
</ion-header> 
<router-outlet></router-outlet>
<!-- <ion-app>
  <app-home></app-home>
  <app-signup></app-signup>
</ion-app> -->