<ion-content class="ion-padding-horizontal">
  <div id="blog-content-container">
    <div>
      <h1
        id="blog-heading"
        *ngIf="post !== undefined"
        [innerHTML]="post.title"
      ></h1>
      <h2
        id="blog-subheading"
        *ngIf="post !== undefined"
        [innerHTML]="post.subtitle"
      ></h2>
      <div id="extra-details">
        <span id="blog-author" *ngIf="post !== undefined"
          ><strong>{{ post.firstName + " " + post.lastName }}</strong></span
        >
        <span id="blog-date" *ngIf="post !== undefined"
          ><strong>{{ time }}</strong></span
        >
        <span>
          <ion-buttons slot="end">
            <ion-button (click)="like()">
              <ion-icon id="like" slot="icon-only" name="thumbs-up"></ion-icon>
            </ion-button>
            {{ likes }}
            <ion-button id="dislike" (click)="dislike()">
              <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
            </ion-button>
            {{ dislikes }}
          </ion-buttons>
        </span>
      </div>
    </div>

    <div
      id="blog-content"
      *ngIf="post !== undefined"
      [innerHTML]="content"
    ></div>
    <!-- <iframe class="e2e-iframe-trusted-src" *ngIf="post !== undefined" [src]="url" frameborder="0"></iframe> -->
    <!-- <iframe
      id="embedded_video"
      *ngIf="post !== undefined && url != null && url != undefined"
      class="e2e-iframe-trusted-src"
      allowfullscreen="true"
      width="640"
      height="390"
      [src]="url"
      title="trusted video url"
    ></iframe> -->
  </div>

  <!-- <ion-item-group> -->
  <ion-item-divider></ion-item-divider>

  <comments currentUserId="1"></comments>
</ion-content>
