<!-- 
<ion-row class="row">
  <ion-col class="persons" size="4">
    <ion-content color="light">
      <ion-list style="padding: 0">
        <ion-list-header color="primary">
          <h1 style="padding-top: 10px">Chats</h1>
        </ion-list-header>
        <ion-item
          *ngFor="let conversation of conversations"
          (click)="selectPerson(conversation.conversationId,conversation.participants[0].userId)"
          class="select"
          [ngClass]="{
            'selected-item':
              conversation.conversationId === selectedConversationId
          }"
        >
          <strong>{{
            conversation.participants[0].User.firstName +
              " " +
              conversation.participants[0].User.lastName
          }}</strong>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-col>
  <ion-col class="chat" size="8" style="padding: 0; margin: 0">
    <ion-content #content id="content" color="light">
      <div
        id="empty-msg-container"
        *ngIf="this.selectedConversationId === null"
      >
        <div id="empty-msg">
          <ion-card-title color="light">Select a Chat</ion-card-title>
        </div>
      </div>
      <div class="message-wrap" *ngIf="selectedConversationId">
        <div
          *ngFor="let message of messages"
          class="message"
          [class.right]="message.senderId === loggedUserId"
        >
          <div class="msg-detail">
            <div class="msg-info">
              <p>{{ message.timestamp.toLocaleString() }}</p>
            </div>
            <div class="msg-content">
              <p>{{ message.messageText }}</p>
            </div>
          </div>

          <div *ngIf="true || message.senderId === id" class="msg-status">

          </div>
        </div>
      </div>
    </ion-content>



    <div *ngIf="this.selectedConversationId" class="border input-msg">
      <ion-input
        #chatInput
        maxlength="140"
        [(ngModel)]="editorMsg"
        (focusin)="onFocus()"
        clearInput="true"
        label="Enter you message"
        label-placement="floating"
        fill="solid"
        placeholder="Enter text"
      ></ion-input>
      <ion-button
        class="send-button"
        size="large"
        fill="clear"
        (click)="sendMessage()"
        slot="end"
      >
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-col>
</ion-row> -->

<!-- <ion-split-pane when="xs" contentId="main">

<ion-menu type="reveal" contentId="chat-content">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>Chats</ion-list-header>
      <ion-note>&#64;{{ authService.user }}</ion-note>
      <ion-menu-toggle
        auto-hide="true"
        *ngFor="let p of conversations;"
      >
        <ion-item
          lines="none"
          detail="false"
        >
          <ion-icon
            aria-hidden="true"
            slot="start"
            [ios]="p + '-outline'"
            [md]="p + '-sharp'"
          ></ion-icon>
          <ion-label>{{ p.participants[0].User }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div id="chat-content">
  
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  
</div>
</ion-split-pane> -->
<ion-split-pane when="lg" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title
          ><h2 class="text-muted mb-0">
            <strong>Chats</strong>
          </h2></ion-title
        >
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="light">
      <div>
        <ul class="list-group list-group-light">
          <li
            class="list-group-item d-flex justify-content-between align-items-center border-0"
            *ngFor="let conversation of conversations"
            (click)="selectPerson(conversation)"
            [ngClass]="{
              active: conversation.conversationId === selectedConversationId
            }"
          >
            <div class="d-flex align-items-center">
              <img
                src="{{ defaultDp }}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">
                  {{
                    conversation.participants[0].User.firstName +
                      " " +
                      conversation.participants[0].User.lastName
                  }}
                </p>
                <!-- <p class="text-muted mb-0">john.doegmail.com</p> -->
              </div>
            </div>
            <!-- <span class="badge rounded-pill badge-success">Active</span> -->
          </li>
        </ul>
        <div
          class="d-flex justify-content-center align-items-center mt-5 pt-5"
          *ngIf="conversations.length === 0"
        >
          <h1 class="text-muted mb-0">Conversation list is empty</h1>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar color="light">
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
          <ion-title
          ><h2 class="text-muted mb-0">
            <strong>{{ selectedConversationName }}</strong>
          </h2></ion-title
        >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content #content class="ion-padding" color="light">
      <div class="message-wrap" *ngIf="selectedConversationId">
        <div
          *ngFor="let message of messages"
          class="message"
          [class.right]="message.senderId === loggedUserId"
        >
          <div class="msg-detail">
            <div class="msg-info">
              <p>{{ message.timestamp.toLocaleString() }}</p>
            </div>
            <div class="msg-content">
              <p>{{ message.messageText }}</p>
            </div>
          </div>

          <!-- <div *ngIf="true || message.senderId === id" class="msg-status"></div> -->
        </div>
      </div>
      <form *ngIf="selectedConversation" id="form" (submit)="sendMessage()">
        <input
          id="input"
          name="messageInput"
          [(ngModel)]="editorMsg"
          autocomplete="off"
        /><button>Send</button>
      </form>
      <div
        class="d-flex justify-content-center align-items-center mt-5 pt-5"
        *ngIf="!selectedConversation"
      >
        <h1 class="text-muted mb-0">No conversation selected</h1>
      </div>
    </ion-content>
  </div>
</ion-split-pane>
