#logo {
  width: 60px; /* Set your desired width */
  height: auto; /* Maintain the aspect ratio */
}
#welcome-msg {
  margin: auto auto;
}
#logo:hover {
  cursor: pointer;
}
#brand-name:hover {
  cursor: pointer;
}
#brand-name {
  font-weight: 750;
  font-family: Arial, Helvetica, sans-serif;
  padding: auto 0;
  margin: 0;
}
.toolbar-end-items {
  padding: 0 10px;
}
.toolbar-front-items {
  padding: 0 20px;
  margin: 0;
}
ion-header {
  background-color: black;
}
ion-searchbar {
  width: 200px;
}
#right-btns {
  // display: none;
}
ion-select {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  #options-buttton {
    display: none;
  }
}