<!-- <ion-header class="ion-no-border">
  <ion-toolbar id="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="authService.loggedIn"></ion-menu-button>
      <ion-img
        (click)="routeToHome()"
        src="../../assets/icon/travel_blog_icon.png"
        alt="Logo"
        id="logo"
      ></ion-img>
      <h1 id="brand-name" class="toolbar-front-items" (click)="routeToHome()">
        {{ "TravelBlog" }}
      </h1>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-searchbar
        placeholder="Search"
        (ionInput)="onSearch($event)"
        class="custom-searchbar"
        color="light"
      ></ion-searchbar>
      <ion-label *ngIf="authService.loggedIn" class="toolbar-end-items"
        ><h3 id="welcome-msg">
          Logged as,
          <strong id="user-name" (click)="routeToProfile()">{{ authService.user }}</strong>
        </h3></ion-label
      >
      <ion-button
        class="toolbar-end-items"
        *ngIf="authService.loggedIn"
        (click)="Logout()"
        fill="outline"
        shape="round"
        color="danger"
        >Logout</ion-button
      >
      <ion-button
        class="toolbar-end-items"
        *ngIf="!authService.loggedIn"
        shape="round"
        fill="outline"
        (click)="LogIn()"
        >LogIn</ion-button
      >
      <ion-button
        class="toolbar-end-items"
        *ngIf="!authService.loggedIn"
        (click)="signup()"
        shape="round"
        fill="solid"
        color="primary"
        >SignUp</ion-button
      >
    </ion-buttons>
    <div id="dropdown" slot="end">
      <ion-select
        placeholder="More"
        interface="popover"
        (ionChange)="handleChange($event)"
      >
        <ion-select-option *ngIf="!authService.loggedIn" value="login"
          >Login</ion-select-option
        >
        <ion-select-option *ngIf="!authService.loggedIn" value="signup"
          >Signup</ion-select-option
        >
        <ion-select-option *ngIf="authService.loggedIn" value="logout"
          >Logout
          <strong>{{
            user?.substring(0, user?.indexOf(" "))
          }}</strong></ion-select-option
        >
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showSearchResults" class="search-result">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeMd="6"
        *ngFor="let post of searchResults"
        class="home-cards"
        (click)="openBlog(post.title,post.id)"
      >
        <app-blog-card-home [post]="post"></app-blog-card-home>
        <h1></h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->
<nav
  class="navbar navbar-expand-lg"
  style="
    background: linear-gradient(
      90deg,
      rgb(145, 193, 253) 12.9%,
      rgb(247, 224, 229) 91.2%
    );
  "
>
  <div class="container-fluid">
    <a class="navbar-brand me-5" role="button" (click)="routeToHome()">
      <img
        (click)="routeToHome()"
        src="../../assets/icon/travel_blog_icon.png"
        alt="img"
        class="logo"
        id="logo"
      />
      <strong style="padding-left: 14px"> Travel Blogging </strong>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <!-- Search form -->
      <form class="d-flex me-2 pt-2" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Type to Search"
          aria-label="Search"
          (input)="onSearch()"
          name="search"
          [(ngModel)]="searchKeyword"
        />
        <!-- <button class="btn btn-outline-success" (click)="onSearch($event)">Search</button> -->
      </form>

      <div class="d-flex ms-auto">
        <!-- Conditional buttons/links -->
        <div *ngIf="authService.loggedIn; else loggedOutButtons" class="me-2">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
            <li
              class="nav-item mx-1 px-2 mb-1"
              (click)="routeToHome()"
              style="border: black 1px solid; border-radius: 30px"
            >
              <a class="nav-link active">Home</a>
            </li>
            <li
              class="nav-item mx-1 px-2 mb-1"
              (click)="routeToMyBlogs()"
              style="border: black 1px solid; border-radius: 30px"
            >
              <a class="nav-link active">My Blogs</a>
            </li>
            <li
              class="nav-item mx-1 px-2 mb-1"
              (click)="routeToChats()"
              style="border: black 1px solid; border-radius: 30px"
            >
              <a class="nav-link active">Chats</a>
            </li>
            <li
              class="nav-item mx-1 px-2 mb-1"
              (click)="routeToProfile()"
              style="border: black 1px solid; border-radius: 30px"
            >
              <a class="nav-link active text-muted">
                <strong> My Profile </strong>
              </a>
            </li>
            <li
              class="nav-item mx-1 px-2 mb-1"
              (click)="Logout()"
              style="border: black 1px solid; border-radius: 30px"
            >
              <a class="nav-link text-danger">Logout </a>
            </li>
          </ul>
        </div>
        <ng-template #loggedOutButtons>
          <div class="btn-group">
            <button
              class="btn btn-outline-primary"
              id="loginBtn"
              (click)="LogIn()"
            >
              Login
            </button>
            <button
              class="btn btn-outline-secondary"
              id="signupBtn"
              (click)="signup()"
            >
              Signup
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
<ion-content *ngIf="showSearchResults" class="search-result">
  <p *ngIf="searchResults.length === 0" class="fw-bold text-warning">
    No blogs found matching.
  </p>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeMd="6"
        *ngFor="let post of searchResults"
        class="home-cards"
        (click)="openBlog(post.title, post.id)"
      >
        <app-blog-card-home [post]="post"></app-blog-card-home>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
