<ion-header>
  <ion-toolbar id="new-background-color">
    <!-- Add your logo on the left -->
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="isLoggedIn"></ion-menu-button>
      <ion-img
        (click)="routeToHome()"
        src="../../assets/icon/travel_blog_icon.png"
        alt="Logo"
        id="logo"
      ></ion-img>
      <h1 id="brand-name" class="toolbar-front-items" (click)="routeToHome()">
        {{ "TravelBlog" }}
      </h1>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-searchbar
        placeholder="Search"
        (ionInput)="onSearch($event)"
        class="custom-searchbar"
        color="light"
      ></ion-searchbar>
      <ion-label *ngIf="isLoggedIn" class="toolbar-end-items"
        ><h3 id="welcome-msg">
          Logged as,
          <strong id="user-name" (click)="routeToProfile()">{{ user }}</strong>
        </h3></ion-label
      >
      <ion-button
        class="toolbar-end-items"
        *ngIf="isLoggedIn"
        (click)="Logout()"
        fill="outline"
        shape="round"
        color="danger"
        >Logout</ion-button
      >
      <ion-button
        class="toolbar-end-items"
        *ngIf="!isLoggedIn"
        shape="round"
        fill="outline"
        (click)="LogIn()"
        >LogIn</ion-button
      >
      <ion-button
        class="toolbar-end-items"
        *ngIf="!isLoggedIn"
        shape="round"
        fill="solid"
        (click)="signup()"
        color="primary"
        >SignUp</ion-button
      >
    </ion-buttons>
    <div id="dropdown" slot="end">
      <ion-select
        placeholder="More"
        interface="popover"
        (ionChange)="handleChange($event)"
      >
        <ion-select-option *ngIf="!isLoggedIn" value="login"
          >Login</ion-select-option
        >
        <ion-select-option *ngIf="!isLoggedIn" value="signup"
          >Signup</ion-select-option
        >
        <!-- <ion-select-option *ngIf="isLoggedIn" value="myblogs"
          >My Bogs</ion-select-option
        > -->
        <ion-select-option *ngIf="isLoggedIn" value="logout"
          >Logout
          <strong>{{
            user?.substring(0, user?.indexOf(" "))
          }}</strong></ion-select-option
        >
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showSearchResults" class="search-result">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeMd="6"
        *ngFor="let post of searchResults"
        class="home-cards"
        (click)="openBlog(post.id)"
      >
        <app-blog-card-home [post]="post"></app-blog-card-home>
        <h1></h1>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
