<app-toolbar [isLoggedIn]="isLoggedIn"></app-toolbar>
<ion-content>
  <div id="empty-msg-container" *ngIf="blogCount === 0">
    <div id="empty-msg">
      <ion-card-title color="light">Travel Blogs is empty!</ion-card-title>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeMd="6"
        *ngFor="let post of posts"
        class="home-cards"
        (click)="openBlog(post.post_id)"
      >
        <ion-card>
          <ion-card-header>
            <div>
              <ion-card-title [innerHTML]="post.post_title"></ion-card-title>
              <ion-card-subtitle
                [innerHTML]="post.post_subtitle"
              ></ion-card-subtitle>
              <div id="blog-info">
                <span id="blog-author">{{
                  post.firstName + " " + post.lastName
                }}</span>
                <span id="blog-date">{{ post.post_time }}</span>
              </div>
            </div>
            <img
              id="blog-img"
              *ngIf="post.imageURL"
              [src]="post.imageURL"
              alt="Blog Post Image"
            />
          </ion-card-header>
          <ion-buttons>
            <ion-button
              id="{{ post.post_id }}"
              color="danger"
              fill="clear"
              (click)="deleteBlog($event)"
              >Delete</ion-button
            >
            <ion-button
              id="{{ post.post_id }}"
              color="success"
              fill="clear"
              (click)="editBlog($event)"
              >Edit</ion-button
            >
          </ion-buttons>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="fixed-fab-container">
    <ion-fab-button (click)="openEditor()">
      <ion-icon
        name=""
        src="../../assets/icon/edit_icon/noun-modify-3082103.svg"
        style="width: 100%; height: 100%"
      ></ion-icon>
    </ion-fab-button>
  </div>
</ion-content>
