.fixed-fab-container {
  position: fixed;
  bottom: 40px; /* Adjust the desired distance from the bottom */
  right: 80px; /* Adjust the desired distance from the right */
}
.home-cards:hover {
  cursor: pointer;
}
ion-content {
  height: 90%;
}

#empty-msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Set the height of the container to the viewport height */
}
#empty-msg {
  background-color: #0000009d;
  padding: 20px;
  color: #ffff;
  border-radius: 20px;
}