<ion-content color="light">
  <div class="myblogs-search-container">
    <ion-searchbar
      search-icon="search-circle"
      placeholder="Search my blogs"
      (ionInput)="onSearch($event)"
      class="custom-searchbar"
      color="light"
    ></ion-searchbar>
  </div>

  <div
    id="empty-msg-container"
    *ngIf="this.myblogs?.length === 0 || this.showSearchResult"
  >
    <div id="empty-msg">
      <ion-card-title color="light" *ngIf="!this.showSearchResult"
        >Travel Blogs is empty!</ion-card-title
      >
      <ion-card-title color="light" *ngIf="this.showSearchResult"
        >No matching Blogs!</ion-card-title
      >
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeMd="6"
        *ngFor="let myblogs of myblogs; trackBy: trackByPostId"
        class="home-cards"
        (click)="openBlog(myblogs.title, myblogs.id)"
      >
        <app-myblogs-blog-card
          [post]="myblogs"
          (deleteEvent)="onDeletePost($event)"
        ></app-myblogs-blog-card>
      </ion-col>

      <ion-infinite-scroll (ionInfinite)="onScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>

  <div class="fixed-fab-container">
    <ion-fab-button (click)="openEditor()">
      <ion-icon
        name=""
        src="../../assets/icon/edit_icon/noun-modify-3082103.svg"
        style="width: 100%; height: 100%"
      ></ion-icon>
    </ion-fab-button>
  </div>
</ion-content>
