<app-toolbar [isLoggedIn]="isLoggedIn"></app-toolbar>
<ion-content >
  <div id="empty-msg-container" *ngIf=" this.posts?.length === 0">
    <div id="empty-msg">
      <ion-card-title color="light">Travel Blogs is empty!</ion-card-title>
    </div>
  </div>
  <div>
  </div>
  <ion-grid >
    <ion-row>
      <ion-col 
        size="12"
        sizeMd="6"
        *ngFor="let post of posts; trackBy: trackByPostId"
        class="home-cards"
        (click)="openBlog(post.id)"
      >
        <app-myblogs-blog-card [post]="post" (deleteEvent)="onDeletePost($event)"></app-myblogs-blog-card>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
  <div class="fixed-fab-container">
    <ion-fab-button (click)="openEditor()">
      <ion-icon
        name=""
        src="../../assets/icon/edit_icon/noun-modify-3082103.svg"
        style="width: 100%; height: 100%"
      ></ion-icon>
    </ion-fab-button>
  </div>
</ion-content>
