.fixed-fab-container {
  position: fixed;
  bottom: 40px; /* Adjust the desired distance from the bottom */
  right: 80px; /* Adjust the desired distance from the right */
}
.home-cards:hover {
  cursor: pointer;
}
ion-content {
  height: 90%;
}
ion-col {
  // background-color: #135d54;
  // text-align: center;
}
ion-card-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#blog-author {
  margin-right: 20px;
  text-decoration: solid;
}
#blog-date {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
#blog-info {
  padding-top: 20px;
}
#blog-img {
  display: inline;
}
