<ion-header [translucent]="true">
  <ion-toolbar>
       <!-- Create a flex container for the header content -->
       <div class="header-content">
        <!-- Place your logo image here -->
        <img src="../../assets/icon/travel_blog_icon.png" class="custom-logo" />
  
        <!-- Add a new ion-toolbar for the floating division (inside the flex container) -->
          <!-- Content for the floating division -->
          <mat-toolbar color="dark" class="floating-header">
            <div id="travel-logo">
              <span id="label-logo">Travel Blog</span>
            </div>
          </mat-toolbar>
        
        <app-searchbar></app-searchbar>
      </div>
  </ion-toolbar>
    
</ion-header>

<ion-content [fullscreen]="true" class = "ion-padding">
  <div id="scrollable-home">

  </div>

</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="" src="../../assets/icon/symbol_log_sign.svg" style="width : 100%; height : 100%"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>

</ion-footer>