<ion-card>
  <ion-card-header>
    <div>
      <ion-card-title [innerHTML]="post.title"></ion-card-title>
      <ion-card-subtitle
        [innerHTML]="post.subtitle"
      ></ion-card-subtitle>
      <div id="blog-info">
        <span id="blog-author">{{
          post.firstName + " " + post.lastName
        }}</span>
        <span id="blog-date">{{ post.time }}</span>
      </div>
    </div>
    <img
      id="card-img"
      *ngIf="post.imageURL"
      [src]="post.imageURL"
      alt="Blog Post Image"
      style="width: 100px; height: 100px; margin-left: auto"
    />
  </ion-card-header>
</ion-card>
